@model Guildmate.Models.ViewModels.CharacterViewModels.CharacterEventsViewModel

@{
    ViewData["Title"] = "AttendEvent";
}

<div class="RoleCreate">
    <div class="Index-Title">
        <h1>AttendEvent</h1>
    </div>
        <div class="row">
            <div class="col-md-4 roleCreateForm">
                <form asp-action="AttendEvent">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RoleId" class="control-label">Select Role</label>
                        <select asp-for="RoleId" class="form-control" asp-items="@Model.RoleOptions"><option selected disabled>Choose A Role</option></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <input type="hidden" value="@Model.EventId" name="eventId" />
                    </div>
                </form>
                <div>
                    <a class="btn btn-primary btn-sm" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
