/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.hidden {
    display: none !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.hidden {
    display: none !important;
}

/*Faction Colors*/
.Horde {
    color: #8c1616;
}

.Alliance {
    color: #162c57;
}

/*Faction Backgrounds*/
.Hordebg {
    background-color: #8c161680;
}

.Alliancebg {
    background-color: #162c5780;
}

.HordeBgFull {
    background-color: #8c1616;
}

.AllianceBgFull {
    background-color: #162c57;
}

/*Class Colors*/

.Druid {
    color: #FF7D0A;
}

.Hunter {
    color: #A9D271;
}

.Mage {
    color: #40C7EB
}

.Paladin {
    color: #F58CBA
}

.Priest {
    color: #FFFFFF
}

.Rogue {
    color: #FFF569
}

.Shaman {
    color: #0070DE
}

.Warlock {
    color: #8787ED
}

.Warrior {
    color: #C79C6E
}

/*Class Background Colors*/

.DruidBg {
    background-color: #FF7D0A80;
}

.HunterBg {
    background-color: #A9D27180;
}

.MageBg {
    background-color: #40C7EB80;
}

.PaladinBg {
    background-color: #F58CBA80;
}

.PriestBg {
    background-color: #FFFFFF80;
}

.RogueBg {
    background-color: #FFF56980;
}

.ShamanBg {
    background-color: #0070DE80;
}

.WarlockBg {
    background-color: #8787ED80;
}

.WarriorBg {
    background-color: #C79C6E80;
}

.homeBackground img {
    margin: 0;
    object-fit:cover;
}

img.BackgroundImage {
    position: fixed;
    top: 55px;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: 0.25;
    z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.BackgroundImage{
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}

.jumbotron {
    z-index: 1;
    margin-top: 6rem;   
}
.jumbotron{
    color: white;
    text-align: center
}

 .jumbotron a{
        background-color: white;
        color: #162c57;
    }

.my-4 {
    border-color:white;
}

.border-Alliance {
    border-color: #162c57 !important
}

.border-Horde {
    border-color: #8c1616 !important
}

.page-Title {
    margin-top: 3rem;
    text-align: center
}

.characterCard{
    margin-top: 2rem;
}

.neutralButton {
    background-color: white;
    border-color: #162c57;
}

.pageInformation{
    background-color: white;
}

a.nav-item:hover {
    color: gold
}
